{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row" style="margin-left: -200px;">
        <div class="col-md-12" style="padding:1rem;">
            <div class="subtitle-text">
                <img class="subtitle-text text-img"
                     src="https://plus.unsplash.com/premium_photo-1661769726567-9a31d3a22751?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                     alt="Hình ảnh background" width="1650px;"
                     style="padding-top: 14px;">
                <div class="subtitle-text explain-text">
                    <h3 class="text-sub"
                        style="text-align: center; color:#2f7e87; padding-top: 22px; padding-left: 125px;">Hệ thống giáo
                        dục BYT</h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}