{% extends "base.html" %}

{% block content %}
<h2 class="text-center" style="color:#2f7e87;">Quản lý học sinh</h2>
<div>
    {% if students %}
    <div class="row">
        {% for s in students %}
        <div class="col-md-3 col-xs-12" style="padding:1rem;">
            <div class="card">
                <img class="card-img-top" src="{{ s.image }}" alt="{{ s.name }}">
                <div class="card-body">
                    <h4 class="card-title">Tên: {{ s.name }} </h4>
                    <p class="card-text">Giới tính: {{ s.gender }}</p>
                    <p class="card-text">Ngày sinh: {{ s.birthday }}</p>
                    <p class="card-text">Khối: {{ s.grade_id }}</p>
                    <p class="card-text">Lớp: {{ s.class_id }}</p>
                    <a href="#" class="btn btn-success">Sửa thông tin</a>
                    <a href="#" class="btn btn-danger">Xóa</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="alert alert-info">
    <h4>KHÔNG CÓ THÔNG TIN HỌC SINH NÀO ĐƯỢC THÊM VÀO!!!</h4>
</div>

{% endif %}
{% endblock %}